{% extends 'base.html.twig' %}

{% import 'links.html.twig' as links %}

{% block subtitle %}About{% endblock %}

{% block body %}
<article>
    <h1>Me</h1>

    <h2>Briefly</h2>
    <p>
        I am a twenty-something year old computer science graduate living in the
        West Midlands of the {{ links.wikipedia('United Kingdom') }},
        in a town called {{ links.wikipedia('Redditch') }}.
        I previously studied
        {{ links.external('http://emps.exeter.ac.uk/computer-science/', 'Computer Science') }} at the
        <a href="http://www.exeter.ac.uk/" rel="external">University of Exeter</a>.
        I originally hail from {{ links.wikipedia('South Gloucestershire') }},
        north of {{ links.wikipedia('Bristol') }},
        where I had lived all my life until September 2010. My family originates from
        the North East of England, {{ links.wikipedia('Gateshead') }}
        more specifically; and in the South East, London in fact. I attended
        <a href="http://www.marlwood.com/" rel="external">Marlwood School and Sixth Form</a>,
        for both my compulsory secondary education and advanced level studies.
    </p>

    <h2>Why <code>cs278.org</code>?</h2>
    <p>
        I have been running my weblog
        for over five years now, I started out using a DynDNS domain and hosting it from my bedroom.
        Time passed and I took the plunge and decided to purchase myself a domain and some hosting
        to go with it, but I needed a domain name. I’d recently started at university and had been
        assigned the username <code>cs278</code> so I stuck with it.
    </p>
    {#
    <p>
        I kept a blog as an interesting way to record my thoughts
        <del>and share them with the world</del>.
        I have never been good at keeping a diary, this is no exception, but it is
        substantially better maintained than any diary I have ever tried to keep!
    </p>
    #}

    <h2>Hobbies/Interests</h2>
    {% set scrobbles = 348446 %}
    {# Conservative fudge for non scrobbled plays: cars, crap players, broken config #}
    {% set totalTracks = (scrobbles * 1.2)|round %}
    {% set totalLength = (totalTracks * 4 / 60 / 24)|round %}
    <p>
        I’m very keen on  my <a href="http://www.last.fm/user/cstoonarmy/" rel="external">music</a> and
        I am almost always listening to something. I am without a doubt a Rock and Heavy Metal fan,
        although I am fairly open to other genres. I do occasionally listen to some classical music and
        the odd pop track. I have been scrobbling my music for over 10 years and in that time I have
        listened to approximately {{ totalTracks }} tracks or about {{ totalLength }} days of music!
        Gigs are a <a href="http://www.setlist.fm/concerts/cs278" rel="external">big part</a> of my
        musical experience and I have been fortunate to see some brilliant performances, those that are
        especially memorable:
    </p>
    <ul>
        {% set gigs = [
            ['Nightwish', 'Greek Theatre, Los Angeles', 'Greek Theatre (Los Angeles)'],
            ['Foo Fighters', 'National Bowl'],
            ['David Gilmour', 'Royal Albert Hall'],
        ] %}
        <li>{{ links.wikipedia('SOiL') }} — Bristol Bierkeller</li>
        {% for gig in gigs %}
        <li>{{ links.wikipedia(gig[0]) }} — {{ links.wikipedia(gig[1], gig[2]|default) }}</li>
        {% endfor %}
    </ul>
    <p>
        I love watching films; but I rarely have any recollection of the films I’ve seen.
        In addition to films I am very fond of some TV series, those that stand to mind are;
        {{ links.wikipedia('QI') }},
        {{ links.wikipedia('House', 'House (TV series)') }},
        {{ links.wikipedia('Top Gear') }},
        {{ links.wikipedia('Bones', 'Bones (TV series)') }}, and
        {{ links.wikipedia('CSI', 'CSI: Crime Scene Investigation') }}.
        All of which are vastly improved by the ultimate audio visual indulgence;
        a series marathon!
    </p>
    <p>
       Finally nothing can beat a good old frag–fest, I have enjoyed video games since I was a child.
       My favourites include
       {{ links.wikipedia('KSP', 'Kerbal Space Program') }},
       {{ links.wikipedia('Borderlands 2') }},
       {{ links.wikipedia('Killing Floor', 'Killing Floor (video game)') }},
       {{ links.wikipedia('Rocket League') }},
       {{ links.wikipedia('Supreme Commander', 'Supreme Commander: Forged Alliance') }},
       {{ links.wikipedia('Unreal Tournament') }},
       {{ links.wikipedia('Left 4 Dead') }},
       {{ links.wikipedia('Diablo II') }},
       {{ links.wikipedia('Command & Conquer: Red Alert') }},
       {{ links.wikipedia('Plants vs. Zombies') }}, and
       {{ links.wikipedia('Grand Theft Auto', 'Grand Theft Auto (series)') }}.
       My <a href="https://steamdb.info/calculator/76561198011538460/?cc=us" rel="external">Steam library</a>
       is quite extensive and time consuming.
    </p>

    <h2 id="projects">Projects</h2>
    <p>
        I have been an active member of a number of projects over the years, some of which are defunct
        now and no longer grace the Earth with their presence. I was a
        {{ links.github_contribs('core contributor', 'phpbb', 'phpbb') }} to
        <a href="http://www.phpbb.com/" rel="external">phpBB</a> as a member of their development team.
        I was previously involved in my universities student media website –
        <a href="http://xmedia.ex.ac.uk/" rel="external">X-Media Online</a>.
    </p>
    <p>
        After gaining employment my open source contributions are no longer stable but I contribute
        infrequently to a wider variety of open source projects, including the likes of
        {{ links.github_contribs('Composer') }},
        {{ links.github_contribs('Symfony') }}, and
        {{ links.github_contribs('Kohana', 'kohana', 'core') }}.
    </p>

    <h3 id="website">Website</h3>
    <p>
        This website stands on the shoulders of open source giants (and minnows.)
    </p>

    <ul>
        <li>{{ links.external('https://alpinelinux.org/', 'Alpine') }}</li>
        <li>{{ links.external('https://caddyserver.com/', 'Caddy') }}</li>
        <li>{{ links.external('https://www.php.net/', 'PHP') }}</li>
        <li>{{ links.external('https://symfony.com/', 'Symfony') }}</li>
        <li>{{ links.external('https://mobyproject.org/', 'Moby') }}</li>
    </ul>

    <h2>Contact</h2>
    <p>
        I can be emailed using the easily guessable address:
        <strong>chris@….org</strong>.
    </p>
    <p>
        Alternatively you may try (and fail) to attract my attention on Twitter:
        <strong>{{ links.externalme('https://twitter.com/cs278', '@cs278') }}</strong>.
    </p>
</article>
{% endblock %}
